h2 login
form(id="loginForm", action="./login", method="post")
  table
    tr
      td
        label Usuario:
      td
        input(id="username", type="text", name="username", autofocus=true, disabled=true)
      td(rowspan=4)
        img(src="./unlogged/320px-Buenos_Aires_-_La_Boca_-_Caminito_-_200807c.jpg", style={height:"110px"})
    tr
      td
        label Clave:
      td
        input(id="password", type="password", name="password", disabled=true)
    tr
      td
      td
        input(type="submit", value="Log In")
script(src="./unlogged/login.js")