doctype html
html(lang="es", ng-app="personasApp")
  head
    meta(charset='utf-8')
    title Taller ABMS
    link(rel="stylesheet", type="text/css", href="taller-abm.css")
  body
    div.menu_superior(ng-controller="ErroresCtrl as error")
      img.menu_icon(src="triple-igual.png")
      span Taller ABM
      span.error_msg {{error.message}} {{error.object}}
    div.contenedor(ng-controller="PersonasCtrl as personas")
      div.parametros(xxxng-show="personas.parametros.estado!='ok' && personas.parametros.estado!='loading'")
        label con_con
        input(ng-model="personas.parametros.con_con")
        button(ng-click="personas.operaciones.traer('load')") traer
        button(ng-click="personas.operaciones.traer('bulkload')") traer muchos
        button(ng-click="personas.operaciones.traer('primero')") primero
        // button(ng-click="personas.operaciones.siguiente('siguiente')") siguiente
      div(ng-show="personas.parametros.estado=='error'")
        div.error_msg {{personas.parametros.mensaje_error}}
      div(ng-show="personas.parametros.estado=='loading'")
        div Loading...
      div(ng-show="personas.parametros.estado=='ok'")
        // div {{ personas.filas[2] }}
        table
          tr
            td.header_campo(ng-repeat="campo in personas.campos") {{campo}}
          tr(ng-repeat="(i,fila) in personas.filas")
            td.campo(ng-repeat="(campo, dato) in fila", class="campo_{{personas.infoCampos[campo].tipoVisual}} mod_{{personas.filas[i][campo]!=personas.filasOriginales[i][campo]}} campo_jvalor_{{sanitizar(personas.filas[i][campo])}}" data-lastjvalor="{{sanitizar(personas.filas[i][campo])}}" id="campo_{{campo}}", xxng-hide="personas.infoCampos[campo].tipoVisual=='check'", ng-model="personas.filas[i][campo]", contenteditable=true, data-dbtype="{{personas.fieldsInfo[campo].dataTypeID}}")
    script(src="angular.js")
    script(src="angular-route.js")
    script(src="ajax-best-promise.js")
    script(src="app.js")
