node_modules
.git

debug.log

Tabla_plana_*.estructura.json
estructura_*.js

*.backup
*.dump
*.bak

ruta_principal*
*local.*
local*
*.dsn
configuracion_local*

ajus/documentacion

logs
.vscode